# Ignore virtual environment folders
venv/
.venv/
.env

# Ignore database files
*.sqlite3

# Ignore editor/IDE specific files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore backup files
*.bak
*.backup